body {
    background: $dark !important;
}

a {
    color: inherit;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

@each $name, $size in $spaces {
    .gap-#{$name} {
        gap: map-get($size, "x") map-get($size, "y");
    }
    .gap-x-#{$name} {
        column-gap: map-get($size, "y");
    }
    .gap-y-#{$name} {
        row-gap: map-get($size, "x");
    }
}

.viewport-width {
    max-width: 1000px;
    margin: 0 auto;
}

// COMPONENTS -----------------------------------------------------------------

.q-card {
    background-color: $dark2;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.q-separator--dark {
    background: rgba(255, 255, 255, 0.1);
}

.q-field--dark .q-field__control::before {
    border-color: rgba(255, 255, 255, 0.2);
}

.q-list--dark.q-list--separator > .q-item-type + .q-item-type, .q-list--dark.q-list--separator > .q-virtual-scroll__content > .q-item-type + .q-item-type {
    border-color: rgba(255, 255, 255, 0.1);
}