// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #51a356;
$secondary: #ffe56c;
$accent: #f38021;

$dark: #181215;
$dark2: #1d1d1d;

$positive: #62c454;
$positive-text: #296018;
$negative: #ee695e;
$negative-text: #901c13;
$info: #31ccec;
$info-text: #185b6c;
$warning: #f5bd4f;
$warning-text: #a97229;